<div id="<%= dom_id cat %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= cat.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sex:</strong>
    <%= cat.sex %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Intake date:</strong>
    <%= cat.intake_date %>
  </p>

  <% if @adopted %>
    <p class="my-5">
      <strong class="block font-medium mb-1">Adoption date:</strong>
      <%= @adoption_date %>
    </p>
  <% end %>
  <% if action_name != "show" %>
    <%= link_to "Show this cat", admin_cat_path(cat), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this cat", edit_admin_cat_path(cat), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
