<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= render AdminIndexComponent.new do |component| %>
    <% component.title = "Kitties!" %>
    <% component.description = "The cats and kittens we help." %>

    <% component.actions do %>
      <%= link_to "New Cat", new_admin_cat_path, class: "block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    <% end %>

    <% component.table_header do %>
      <tr>
        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Title</th>
        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Sex</th>
        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Intake Date</th>
        <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
          <span class="sr-only">Edit</span>
        </th>
      </tr>
    <% end %>

    <% component.table_body do %>
      <% @cats.each do |cat| %>
        <tr>
          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0"><%= cat.name.titleize %></td>
          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= cat.sex %></td>
          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= cat.intake_date.strftime("%m-%d-%Y") %></td>
          <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
            <%= link_to "Edit", edit_admin_cat_path(cat), class: "text-indigo-600 hover:text-indigo-900" %>
          </td>
        </tr>
      <% end %>
    <% end %>

    <% component.pagy = @pagy %>
  <% end %>
</div>
