<!-- Footer -->
<footer class="mt-6 bg-gray-900 md:mt-24 w-full" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <!--  Large Variant-->
  <div class="hidden md:block mx-auto max-w-7xl px-6 py-12 md:py-18 lg:px-8">
    <div class="flex justify-between">
      <%= image_tag image_url("colorado-kat-logo-white-48.png"), class: "h-12 w-auto", alt: "Colorado KAT Coalition Logo" %>
      <div class="mt-4 flex md:space-x-4">
        <% @pages.each do |page| %>
          <div>
            <h3 class="text-sm font-semibold leading-6 text-white">
              <%= link_to page_path(page), class: "text-sm leading-6 text-gray-300 hover:text-white" do %>
                <%= page.link_name.titleize %>
              <% end %>
            </h3>
          </div>
        <% end %>
        <div class="mt-10 md:mt-0">
          <h3 class="text-sm font-semibold leading-6 text-white">
            <%= link_to "Services", services_path, class: "text-sm leading-6 text-gray-300 hover:text-white" %>
          </h3>
        </div>
        <div class="mt-10 md:mt-0">
          <h3 class="text-sm font-semibold leading-6 text-white">
            <%= link_to "Cats", cats_path, class: "text-sm leading-6 text-gray-300 hover:text-white" %>
          </h3>
        </div>
        <div>
          <h3 class="text-sm font-semibold leading-6 text-white">
            <%= link_to "Contact", contact_path, class: "text-sm leading-6 text-gray-300 hover:text-white" %>
          </h3>
        </div>
        <div>
          <h3 class="text-sm font-semibold leading-6 text-white">
            <%= link_to "Support Us", donate_url, class: "text-sm leading-6 text-gray-300 hover:text-white", target: "_blank" %>
          </h3>
        </div>
        <div>
          <h3 class="text-sm font-semibold leading-6 text-white">
            <a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">
              &copy;Colorado KAT Coalition 2023&mdash;<%= Time.zone.now.year %>
            </a>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <!--  Small Variant-->
  <div class="block md:hidden mx-auto max-w-7xl px-6 py-16 sm:py-24 lg:px-8 lg:py-32">
    <div class="flex justify-between">
      <%= image_tag image_url("colorado-kat-logo-white-48.png"), class: "h-12 w-auto", alt: "Colorado KAT Coalition Logo" %>
      <div class="xl:mt-0">
        <% @pages.each do |page| %>
          <h3 class="text-sm font-semibold text-white">
            <%= link_to page_path(page), class: "text-sm text-gray-300 hover:text-white" do %>
              <%= page.link_name.titleize %>
            <% end %>
          </h3>
        <% end %>
        <h3 class="text-sm font-semibold text-white">
          <%= link_to "Services", services_path, class: "text-sm text-gray-300 hover:text-white" %>
        </h3>
        <h3 class="text-sm font-semibold text-white">
          <%= link_to "Cats", cats_path, class: "text-sm text-gray-300 hover:text-white" %>
        </h3>
        <h3 class="text-sm font-semibold text-white">
          <%= link_to "Contact", contact_path, class: "text-sm text-gray-300 hover:text-white" %>
        </h3>
        <h3 class="text-sm font-semibold text-white">
          <%= link_to "Support Us", donate_url, class: "text-sm text-gray-300 hover:text-white" %>
        </h3>
        <h3 class="text-sm font-semibold text-white">
          <a href="#" class="text-sm text-gray-300 hover:text-white">
            &copy;Colorado KAT Coalition 2023&mdash;<%= Time.zone.now.year %>
          </a>
        </h3>
      </div>
    </div>
  </div>
</footer>
