<header class="absolute inset-x-0 top-0 z-50" x-data="{ open: false, toggle() { this.open = ! this.open } }">
  <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <div class="flex lg:flex-1">
        <%= link_to root_path, class: "-m-1.5 p-1.5" do %>
          <span class="sr-only">Colrado KAT Coalition</span>
          <%= image_tag image_url("colorado-kat-logo-white-48.png"), class: "h-12 w-auto", alt: "Colorado KAT Coalition Logo" %>
        <% end %>
      </div>
    </div>
    <div class="flex lg:hidden">
      <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-400" @click="toggle()">
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <% @pages.each do |page| %>
        <%= link_to page_path(page), class: "text-sm font-semibold leading-6 text-white" do %>
          <%= page.link_name.titleize %>
        <% end %>
      <% end %>
      <%= link_to "Services", services_path, class: "text-sm font-semibold leading-6 text-white" %>
      <%= link_to "Cats", cats_path, class: "text-sm font-semibold leading-6 text-white" %>
      <%= link_to "Contact", contact_path, class: "text-sm font-semibold leading-6 text-white" %>
      <%= link_to "Support Us", donate_url, class: "text-sm font-semibold leading-6 text-white", target: "_blank" %>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <%= link_to admin_dashboards_path, class: "text-sm font-semibold leading-6 text-white" do %>
        Admins <span aria-hidden="true">&rarr;</span>
      <% end %>
    </div>
  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
  <div class="lg:hidden" role="dialog" aria-modal="true" x-show="open">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-50"></div>
    <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
      <div class="flex items-center justify-between">
        <%= link_to root_path, class: "-m-1.5 p-1.5" do %>
          <span class="sr-only">Colrado KAT Coalition</span>
          <%= image_tag image_url("colorado-kat-logo-48.png"), class: "h-12 w-auto", alt: "Colorado KAT Coalition Logo" %>
        <% end %>
        <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700" @click="toggle()">
          <span class="sr-only">Close menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <% Page.where(main_nav: true).order(:title).each do |page| %>
              <%= link_to page_path(page), class: "-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" do %>
                <%= page.link_name.titleize %>
              <% end %>
            <% end %>
            <%= link_to "Services", services_path, class: "-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" %>
            <%= link_to "Cats", cats_path, class: "-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" %>
            <%= link_to "Contact", contact_path, class: "-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" %>
          </div>
          <div class="py-6">
            <%= link_to admin_dashboards_path, class: "-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" do %>
              Admins
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
