<div class="relative isolate">
  <%= image_tag image_url('hero-section-background.jpg'), alt: "two cats lounding in a background image", class: "absolute inset-0 -z-10 h-full w-full object-cover" %>
  <div class="absolute left-1/2 right-0 top-0 -z-10 -ml-24 transform-gpu overflow-hidden blur-3xl lg:ml-24 xl:ml-48" aria-hidden="true">
    <div class="aspect-[801/1036] w-[50.0625rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(63.1% 29.5%, 100% 17.1%, 76.6% 3%, 48.4% 0%, 44.6% 4.7%, 54.5% 25.3%, 59.8% 49%, 55.2% 57.8%, 44.4% 57.2%, 27.8% 47.9%, 35.1% 81.5%, 0% 97.7%, 39.2% 100%, 35.2% 81.4%, 97.2% 52.8%, 63.1% 29.5%)"></div>
  </div>
  <div class="overflow-hidden">
    <div class="mx-auto max-w-7xl px-6 pb-8 pt-36 sm:pt-60 lg:px-8 lg:pt-32">
      <div class="mx-auto max-w-2xl gap-x-14 lg:mx-0 lg:flex lg:max-w-none lg:items-center">
        <div class="relative w-full max-w-xl lg:shrink-0 xl:max-w-2xl">
          <h1 class="text-3xl font-bold tracking-tight text-gray-200 md:text-4xl lg:text-5xl xl:text-6xl">
            Colorado KAT Coalition
          </h1>
          <div class="text-base text-gray-300 pl-2 mt-1">Collaboration, Community, &amp; Compassion</div>
          <p class="mt-6 text-lg leading-8 text-gray-300 sm:max-w-md lg:max-w-none">
            Providing high quality, low cost spay/neuter services and making a measurable impact on cat overpopulation with a focus on community and abandoned cats
          </p>
          <div class="mt-10 flex items-center gap-x-6">
            <%= link_to "Learn more", page_path("about-us"), class: "rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
            <a href="<%= donate_url %>" target="_blank" class="rounded-md bg-gray-800 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
              Support Us
            </a>
          </div>
        </div>
        <%= render partial: "shared/homepage_photo_set", locals: { photos: @photos } %>
      </div>
      <div class="mx-auto mt-12">
        <!-- Social Media Logo cloud -->
        <%= render partial: "shared/social_media_icons" %>
      </div>
    </div>
  </div>
</div>