<%# locals: (adoption:) %>

<%= form_with(model: adoption, class: "contents") do |form| %>
  <% if adoption.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(adoption.errors.count, "error") %> prohibited this adoption from being saved:</h2>

      <ul>
        <% adoption.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :cat_id %>
    <%= form.text_field :cat_id, class: "tw-input" %>
  </div>

  <div class="my-5">
    <%= form.label :adopter_id %>
    <%= form.text_field :adopter_id, class: "tw-input" %>
  </div>

  <div class="my-5">
    <%= form.label :adoption_date %>
    <%= form.date_field :adoption_date, class: "tw-date-picker" %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn-primary" %>
  </div>
<% end %>
