<div class="relative bg-white">
  <div class="lg:absolute lg:inset-0 lg:left-1/2">
    <%= image_tag image_url("contact-us.jpg"), class: "h-48 w-full bg-gray-50 object-cover sm:h-80 lg:absolute lg:h-full", alt: "image of two cats sitting on a tree branch" %>
  </div>
  <div class="pb-24 pt-16 sm:pb-32 sm:pt-24 lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:pt-32">
    <div class="px-6 lg:px-8">
      <div class="mx-auto max-w-xl lg:mx-0 lg:max-w-lg">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900">Let's connect</h2>
        <p class="mt-2 text-lg leading-8 text-gray-600">Use the form below to send us a question, information about stray cats, etc.</p>
        <%= form_with url: send_contact_path, method: :post, scope: :contact, local: true, data: { turbo: false }, html: { class: "mt-16" } do |f| %>
      <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
            <div>
              <%= f.label :first_name, "First name", class: "block text-sm font-semibold leading-6 text-gray-900" %>
              <div class="mt-2.5">
                <%= f.text_field :first_name, autocomplete: "given-name", class: "block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
              </div>
            </div>
            <div>
              <%= f.label :last_name, "Last name", class: "block text-sm font-semibold leading-6 text-gray-900" %>
              <div class="mt-2.5">
                <%= f.text_field :last_name, autocomplete: "family-name", class: "block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
              </div>
            </div>
            <div class="sm:col-span-2">
              <%= f.label :email, "Email", class: "block text-sm font-semibold leading-6 text-gray-900" %>
              <div class="mt-2.5">
                <%= f.email_field :email, autocomplete: "email", required: true, class: "block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
              </div>
            </div>
            <div>
              <%= f.label :city, "City", class: "block text-sm font-semibold leading-6 text-gray-900" %>
              <div class="mt-2.5">
                <%= f.text_field :city, autocomplete: "address-level2", class: "block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
              </div>
            </div>
            <div>
              <%= f.label :county, "County", class: "block text-sm font-semibold leading-6 text-gray-900" %>
              <div class="mt-2.5">
                <%= f.text_field :county, class: "block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
              </div>
            </div>
            <div class="sm:col-span-2">
              <div class="flex justify-between text-sm leading-6">
                <%= f.label :phone, "Phone", class: "block font-semibold text-gray-900" %>
                <p id="phone-description" class="text-gray-400">Optional</p>
              </div>
              <div class="mt-2.5">
                <%= f.telephone_field :phone, autocomplete: "tel", aria: { describedby: "phone-description" }, class: "block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
              </div>
            </div>
            <div class="sm:col-span-2">
              <div class="flex justify-between text-sm leading-6">
                <%= f.label :message, "How can we help you?", class: "block text-sm font-semibold leading-6 text-gray-900" %>
                <p id="message-description" class="text-gray-400">Max 500 characters</p>
              </div>
              <div class="mt-2.5">
                <%= f.text_area :message, rows: 4, maxlength: 500, aria: { describedby: "message-description" }, required: true, class: "block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
              </div>
            </div>
          </div>
          <div class="mt-10 flex justify-end border-t border-gray-900/10 pt-8">
            <button type="submit" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Contact Us</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
