<%# locals: (cat:) %>

<li id="<%= dom_id cat %>">
  <div>
    <%= render partial: "shared/cat_photo_carousel", locals: { photos: cat.images, cat: cat, image_slider_name: "imageSlider#{cat.id}" } %>
  </div>
  <h3 class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">
    <%= cat.name.titleize %>
    <span class="text-sm leading-8 ml-1 text-gray-600">
      (<%= cat.sex %>)
    </span>
  </h3>
  <div class="text-sm leading-7 text-gray-600">
    <%= cat.notes %>
  </div>
  <ul role="list" class="mt-4 flex gap-x-2">
    <li>
      <%= link_to cat_path(cat), class: "text-gray-400 hover:text-gray-500", title: "View more" do %>
        <span class="sr-only">View more</span>
        <i class="fas fa-eye fa-2x"></i>
      <% end %>
    </li>
    <li>
      <%= link_to cat_path(cat), class: "text-gray-400 hover:text-gray-500", title: "View more" do %>
        <span class="sr-only">Inquire</span>
        <i class="fas fa-question-circle fa-2x"></i>
      <% end %>
    </li>
  </ul>
</li>
